<?xml version="1.0"?>
<launch>
	<node pkg="component_test" type="wall_follower" name="wall_follower" clear_params="true" output="screen">
    
		<param name="maxIterations" value="30" />
		<param name="modelFilename" value="etihad_nowheels_densed.pcd" />
		
		<param name="initial_x" value="5" />
		<param name="initial_y" value="16" />
		<param name="initial_z" value="4" />
		<param name="initial_yaw" value="0" />
    
		<!-- Occlusion culling -->
		<param name="frame_id" value="base_point_cloud" />
		
		<param name="voxelRes" value="0.3" />
		<param name="sensor_vert_fov" value="45" />
		<param name="sensor_hor_fov" value="60" />
		<param name="sensor_near_plane_distance" value="0.7" />
		<param name="sensor_far_plane_distance" value="8.0" />
	</node>
</launch>
